venv/
.pytest_cache/
__pycache__/
description.txt
__pycache__/
*.py[cod]
description.txt
Crop_Weather_Watch/data/logs
Techstack.txt
Webscraping_Methods/gliner_run_error.log
Webscraping_Methods/docling_run_error.log
Webscraping_Methods/docling_run_error.log
Webscraping_Methods/gliner_run_error.log
tmp_check.py